@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap);/*------------------------------
        COLORS
    -------------------------------*/
:root {
  --primary-color: #464646;
  --secondary-color: #0282f9;
  --mainpage-color: #1c1c1c;
  --footer-color: #959595;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  color: white;
  padding: 1.875rem 0 0.8rem 0;
  text-transform: uppercase;
}

h3 {
  color: var(--secondary-color);
  text-transform: uppercase;
}

h4 {
  color: white;
  text-transform: uppercase;
  padding-top: 1.25rem;
  font-weight: 400;
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
}
header .container {
  height: 7.75rem;
  justify-content: space-between;
  align-items: center;
}
header .imgLogo img {
  max-width: 5.25rem;
  width: 100%;
}
header nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
header nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
}
header .active a,
header a:hover {
  color: var(--secondary-color);
}
header .active a:after,
header a:hover:after {
  position: absolute;
  content: "";
  border-bottom: 0.375rem solid var(--secondary-color);
  width: 100%;
  bottom: -3.25rem;
  left: 0;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 73.75rem;
  display: flex;
}

.hero {
  margin-top: -1.3rem;
}

.jumbo_img img {
  width: 100%;
  max-height: 21rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.topFooter {
  padding: 1.8rem;
  background-color: var(--secondary-color);
}
.topFooter .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-transform: uppercase;
}
.topFooter .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.9rem;
}
.topFooter .card img {
  max-width: 3rem;
  width: 100%;
}

.middleFooter {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 21.875rem;
  overflow: hidden;
}
.middleFooter .col-left {
  width: 16.6666666667%;
}
.middleFooter .col-right {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.middleFooter ul {
  list-style: none;
}
.middleFooter ul li a {
  color: var(--footer-color);
  text-decoration: none;
  font-size: 0.875rem;
}
.middleFooter ul li a:hover {
  color: var(--secondary-color);
}
.middleFooter .col-right img {
  width: 31rem;
  -o-object-position: 0 -6.25rem;
     object-position: 0 -6.25rem;
}

.footerBottom {
  background-color: var(--primary-color);
}

.container.foot {
  height: 7rem;
  justify-content: space-between;
  align-items: center;
}

.social_foot {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.signUp {
  background-color: var(--primary-color);
  color: white;
  border: 0.125rem solid var(--secondary-color);
  text-transform: uppercase;
  padding: 0.625rem;
  font-size: 1rem;
}

.signUp:hover {
  background-color: var(--secondary-color);
}

.dcCard img {
  width: 100%;
}

.imgCard {
  max-height: 11.25rem;
  overflow: hidden;
}

main {
  margin-top: -1.5rem;
  padding-top: 2.3rem;
  background-color: var(--mainpage-color);
}
main .currentSeries {
  display: flex;
  background-color: var(--secondary-color);
  margin-top: -5rem;
  height: 3.125rem;
  width: 15.625rem;
  justify-content: center;
  align-items: center;
}
main .currentSeries h2 {
  padding: 0;
}
main .container.middle {
  padding-bottom: 3.125rem;
}
main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  list-style: none;
}
main ul li {
  width: calc(16.6666666667% - 1.25rem);
}
main .container.bottom {
  justify-content: center;
}
main .container.bottom button {
  background-color: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  padding: 0.625rem 3.75rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.comicPage {
  background-color: white;
  width: 100%;
  height: 100%;
}
.comicPage .container {
  display: flex;
}
.comicPage .container .col-left {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.comicPage .container .col-left h1 {
  text-transform: uppercase;
}
.comicPage .container .col-right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.comicPage .container .col-right img {
  width: 100%;
}