.topFooter {
    padding: 1.8rem;
    background-color: var(--secondary-color);

    & .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        text-transform: uppercase;
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.9rem;
    }

    .card img {
        max-width: 3rem;
        width: 100%;
    }
}